.tweet {
  background-color: #ffffff;
  border-radius: 5px;
  border-color: #bfbfbf;
  border-style: solid;
  margin-top: 10px;
}

.tweet .avatar {
  height: 50px;
  width: 50px;
  float: left;
  margin: 10px;
  border-radius: 5px;
  
}

.tweet header {
  background-color: #e6e6e6;
  height: 70px;
}

.tweet header h3 {
  margin: 0px;
  float:left;
  line-height: 70px;
  color: #666666;
}

.tweet header p {
  margin: 0px;
  float: right;
  line-height: 70px;
  margin-right: 10px;
  color: #999999;
}

.tweet .tweet-body {
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  padding: 40px 10px;
  margin: 0px;
}

.tweet footer p {
  float: left;
  margin: 0px;
  padding: 15px 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.tweet .fa-heart {
  float: right;
  line-height: 50px;
  margin-right: 5px;
}

.tweet .fa-retweet {
  float: right;
  line-height: 50px;
  margin-right: 5px;
}

.tweet .fa-flag {
  float: right;
  line-height: 50px;
  margin-right: 5px;
}

#tweets article {
  opacity: 0.75;
}

#tweets article:hover {
  opacity: 1;
}

.tweet .icons {
  opacity: 0;
}
#tweets article:hover * {
  opacity: 1;
}










